<div class="graph-wrap" *ngIf="ready">
    <div class="select-point">
        <app-selected-item [item]="selected" [finalScore]="finalScore"></app-selected-item>
    </div>
    <canvas baseChart width="400" height="256"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins"
    >
    </canvas>
</div>
  
<div class="x-selectors">
    <button class="x-selector-btn" disabled>Live</button>
    <button class="x-selector-btn">Month</button>
    <button class="x-selector-btn active">Prev. Match</button>
    <button class="x-selector-btn">Prev. Month</button>
</div>