:host {
    display: block;
    position: relative;
    padding-top: 64px;
}

.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    background: #03a;
}

.fake-content-bar {
    background: #fff;
    height: 96px;
    margin-bottom: 2rem;
}