.wrap {
    display: table;
    align-items: center;
    font-size: 16px;
    color: #555;

    .row {
        display: table-row;

        .col {
            display: table-cell;
            padding: .1rem .5rem;
            vertical-align: middle;
            text-align: center;
            height: 36px;
            box-sizing: border-box;

            &:first-child {
                padding-left: 4px;
                text-align: right;
            }
            &:last-child {
                padding-right: 4px;
                text-align: left;
            }
        }
    }

    .team-name {
        font-weight: bold;
    }

    .item-badge {
        background: #5ed56d;
        color: #fff;
        font-weight: bolder;
        padding: 0.2rem 0.5rem;
        border-radius: 0.5rem;
    }

    .point-ind {
        display: inline-block;
        border: solid 3px #0e71c8;
        background: #0ea1e8;
        border-radius: 50%;
        width: 14px;
        height: 14px;
    }

    .card-icon {
        display: inline-block;
        background-color: #ccc;
        width: 14px;
        height: 21px;
        border-radius: .2rem;
        box-shadow: 1px 2px 2px rgba(#000, .5);
        &.yellow-card {
            background-color: yellow;
        }
        &.red-card {
            background-color: red;
        }
    }

}
